.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
    position: relative;
    top: 1px; /* Adjust as needed */
    right: 50px;
}